h1{
    font-family: 'Qahiri', sans-serif;
font-family: 'Special Elite', cursive; 
   text-align: center;              

}
section{
    display: flex;
   
}
.half-width{
    margin-left: 10px;
    width: 20%;
    padding: 12%;
   padding-right:5% ;
   padding-top: 0%;
   
   
}
/* .sst{
  git  padding-right: 10px;
    pjhyhg
} */
.half-width img{
     width: 180%;
     box-shadow:10px 10px 20px rgb(69, 59, 73) ;
}

h3{
    color: darkorange;
    width: 500px;
    margin-left: 200px;
}

.jakt{
    text-align: justify;
    margin: 25px;
    padding: 20px 10px 20px;

}
p{
    width: 100%;
    width: 450px;
}

.contact{
    text-decoration: none;
    background-image:linear-gradient(#ff4da6,#66a3ff) ;
    padding:10px 40px ;
    border-radius:5px ;
    margin:500px;
    
}

.GooD{
    display: flex;
}

.singel{
    color: darkred;

}
.astrum{
    width: 50%;
    padding-left: 5%;
}
  .astrum img{
      width: 100%
  } 
  .link-button{
      text-decoration: none;
      background-image: linear-gradient(red,orange);
      padding: 10px 40px;
      border-radius: 5px;
  }
  #id{
      font-size: 40px;
  }